@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,li,button{
  display: block;
  list-style: none;
}
a{
  text-decoration: none;
}
.fa-solid, .fa-regular{
  color: black;
  font-size: 17px;
}
header{
  height: 91px;
  /* background-color: aquamarine; */
  box-shadow: 0 3px 10px  rgb(0 0 0 / 0.2);
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
}
#inner-header{
  height: 100%;
  width: 87%;
  /* background-color: bisque; */
  margin: 0 auto;
  display: flex;
}
.logo{
  height: 100%;
  width: 20%;
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
}

.links{
  height: 100%;
  width: 80%;
  /* background-color: brown; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link-font{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  font-size: 15px;
}
.fa-chevron-down{
  font-size: 10px;
}
.text-icon{
  display: flex;
  align-items: center;
  gap: 10px;
}
.red-col{
  color: red;
}
.main-background{
  margin-top: 91px;
  height: 80vh;
  border-bottom-left-radius:80px ;
  border-bottom-right-radius:80px ;
  background-image: url(../img/97314-ea-sports-fc-erling.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-text{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
#text1{
  color:#90B7E4 ;
  font-size: 20px;
  font-weight: 600;
}
#text2{
  font-size: 57px;
  color:#90B7E4 ;
  font-weight: 600;

}
.main-text-div{
  height: 100%;
  width: 40%;
  padding-left: 60px;
  padding-top: 50px;
}
.main-but{
  height: 35px;
  width: 110px;
  border: none;
  background-color:#90B7E4 ;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  color: white;
}
.products-delivery{
  width: 70%;
  height: 150px;
  /* background-color: aqua; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.product{
  display: flex;
  align-items: center;
  gap: 7px;
}
.big-text{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}
.small-text{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.icon-cont{
  background-color: #eddae4;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.red-icon{
  color: #Db0700;
}
.game-cards{
  height: 700px;
  /* background-color: bisque; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play-games{
  height: 586px;
  width: 348px;
  /* background-color: beige; */
  border-radius: 10px;
}
.game-logo{
  height: auto;
  width: 342px;
}
.game-name{
font-size: 20px;
font-weight: 500;
}
.game-explore{
font-size: 15px;
font-weight: 300;
}
.game-shop{
font-size: 12px;
font-weight: 600;
color: #Db0700;
}
.logo-div{
  height: 50%;
}
.game-info{
  height: 50%;
  margin-top: 50px;
  width: 80%;
  padding-left: 35px;
}
.middle-margin{
  margin-top: 20px;
  margin-bottom: 30px;
}
#push-bit{
  padding-top: 30px;
}
#playstation-color{
background-color: #90B7E4;
}
#x-box-color{
background-color:#adff2f ;
}
#nintendo-color{
background-color: #ffa500;
}
.plystationsize{
  font-size: 30px;
  /* font-family: ; */
}
.football{
  height: 700px;
  width: 100%;
  margin-top: 50px;
}
.div33{
  display: flex;
  margin: 0 auto;
  gap: 20px;
  justify-content: center;
  margin-top: 55px;
}
.fifa{
  height: 283px;
  width: 212px;
}
.div200{
  
  height: 689px;
  width: 1349px;
  /* background-color: gray; */
  background-image: url(../img/ps4-controller-playstation-4-controller-gamepad-game-1280x1280-8380.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
margin-top: 40px;
}
.div300{

 text-align: center;
 font-family: "Poppins", sans-serif;
 font-style: normal;
 color:#90B7E4 ;
 font-size: 15px;
 font-weight: 600;
}
.ida{
  margin-top: 100px;
}
.div13{
margin-top: 25px;
}
#size{
height: 689px;
width: 1300px;
justify-content: center;
}
.vigi{
  font-size: 12px;
}
#samuel{
  margin-left: 46%;
  margin-top: 10%;
  margin-bottom: 30%;
  font-size: 20px;
color: white;
background-color: orangered;
border-radius: 6px;
font-family: "Poppins", sans-serif;
font-style: normal;
}
.data{
  width: 100%;
  height: 109px;
  background-color: darkred;
  margin-top: 150px;
}
.data2{
  color: #eddae4;
 margin-top:20px ;
 margin-left: 30%;
 justify-content: space-between
}
.data3{
  width: 779px;
  height: 39px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
#sauel3{
  font-size: 20px;
  justify-content: space-between;
  background-color: red;
  border-radius: 6px;
  color: #eddae4;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin-left: 70%;
  margin-bottom: 10%;
}
.div505{
  height: 800px;
  width: 100%;
  margin-top: 100px;
}
.button2{
  margin-left: 1080px;
  /* font-size: 10px; */
  height: 29px;
  width: 96px;
border-radius: 5px;
  background-color: #Db0700;
  color: #eddae4;
  font-family: "Poppins", sans-serif;
}
.ptag{
  font-family: "Poppins", sans-serif;
  margin-left: 150px;
}
.colospam{
  height: 1000px;
  width: 500px;
  margin-top: 100px;
  margin-left: 60px;
}
.game-card{
  height: 700px;
  /* background-color: bisque; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play-game{
  height: 450px;
  width: 348px;
  /* background-color: beige; */
  border-radius: 10px;
  margin-bottom: 200px;
}
#playstation-colo{
  background-color:white ;
  }
  #x-box-colo{
  background-color:white;
  }
  #nintendo-colo{
  background-color: white;
  }
.game-nam{
 font-size: 20px;
font-weight: 500;
margin-top: 50px;
font-family: "Poppins", sans-serif;
}
.game-inf{
height: 400px;
margin-top: 50px;
width: 100%;
padding-left: 35px;
box-shadow: 0 3px 10px  rgb(0 0 0 / 0.2);
}
.game-sho{
  font-size: 12px;
  font-weight: 600;
  color: black;
  font-family: "Poppins", sans-serif;
}
.game-explore{
font-size: 15px;
font-weight: 300;
font-family: "Poppins", sans-serif;
}
.site-info{
  height: 389px;
  width: 1349px;
  background-color: blue;
}
.ptag2{
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 20px;
  margin-left: 60px;
  padding-top: 15px;
}
.site-info2{
  width: 300px;
  height: 200px;
  background-color: #808080;
  margin-left: 10px;
padding-top: 100px;
}
.ara3{
  margin-top: 1px;
  height: 110px;
  width: 100%;
  background-color:#ffff;
}
.dea{
font-family: "Poppins", sans-serif;
font-size: 11px;
margin-left: 50px; 
margin-top: 30px;
}
.dea2{
font-family: "Poppins", sans-serif;
font-size: 11px;
margin-left: 1200px;
}
.ara5{
font-size: 25px;
margin-left: 100px;
}
.ara4{
font-family: "Poppins", sans-serif;
font-size: 15px;
margin-left: 100px;
}
.ara9{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: 100px;
}
.ara2{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: 100px;
}
.ara1{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: 100px;
}
.ara6{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: 100px;
}
.ara7{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: 100px;
}
.ara8{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: 100px;
  padding-bottom: 70px;
}
.site-info4{
  width: 300px;
  height: 200px;
  background-color: #808080;
  margin-left: 10px;
 }
 .ara11{
  font-size: 25px;
margin-left: 100px;
 }
 .ara12{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: 100px
 }
 .ara13{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: 100px
 }
 .ara14{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: 100px
 }
 .ara15{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin-left: 100px
 }

 